<section class="account-greeting">
    <% if (account_type === "Client") { %>
    <h2>Welcome <%= account_firstname %></h2>
    <a href="/account/edit" class="btn btn-link">Update Account Information</a>
    <% } else if (account_type === "Employee" || account_type === "Admin") { %>
    <h2>Welcome <%= account_firstname %></h2>

    <a href="/account/edit" class="btn btn-link">Update Account Information</a>

    <h3>Inventory Management</h3>
    <p><a href="/inventory/manage">Go to Inventory Management</a></p>
    <% } %>
</section>