<h1>Inventory Management</h1>

<% if (message) { %>
  <p class="flash-message"><%= message %></p>
<% } %>

<nav>
  <ul>
    <li><a href="/inv/classification/add">Add New Classification</a></li>
    <li><a href="/inv/inventory/add">Add New Inventory Item</a></li>
  </ul>
</nav>
