<main>
    <h1><%= title %></h1>
    <p><%= message %></p>

    <% if (error && error.stack) { %>
    <h2>Stack Trace:</h2>
    <pre><%= error.stack %></pre>
    <% } %>

    <p><a href="/" title="Return to Home">Return to Home</a></p>
</main>
